# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / output directories
dist/
build/
coverage/

# IDE / Editor settings
.vscode/
.idea/
*.swp

# Temporary files
*.tmp
*.temp

# Render-specific cache
.render/
